<nav-bar help-dropdown="false"></nav-bar>

<bread-crumbs></bread-crumbs>

<div class="container dashboard-inner">
<div class="row">
  <section class="col-sm-12">
    <div class="row">
      
      <div class="col-sm-4 col-md-3" ng-repeat="project in projects">
        <a class="item" ng-if="projects.length" href="/projects/project/{{project.id}}">
          <div class="item-media"></div>
          <h3 class="item-title">{{project.name}}</h3>
          <div class="item-meta">
            <div class="row">
              <div class="col-xs-8 caps">{{project.date | date:'d MMMM yyyy'}}</div>
              <div class="col-xs-4" ng-if="project.gallery.length"><i class="icon-camera"></i><span>{{project.gallery}}</span></div>
            </div>
          </div>
        </a>
      </div>

      
      <div class="col-sm-4 col-md-3">
        <div role="button" data-toggle="modal" data-target="#newProject-modal" class="item item-add text-center">
          <p><i class="icon-plus-sign"></i></p><span>Add new project</span>
        </div>
        <div id="newProject-modal" tabindex="-1" role="dialog" class="modal fade">
          <div class="modal-dialog modal-md has-padding">
            <div class="modal-content">
              <div class="modal-header text-center">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">Close</button>
                <h4 class="modal-title">New Project</h4>
              </div>
              <div class="modal-body">
                <form ng-submit="addNewProject()" novalidate>
                  <p>
                    <label>Project Name</label>
                  </p>
                  <div class="form-group">
                    <input type="text" placeholder="e.g. John &amp; Kate" class="form-control" ng-model="project.name"/>
                  </div>
                  <p>
                    <label>Project Date</label>
                  </p>
                  <div class="form-group">
                    <input type="text" date-picker placeholder="Pick a date" class="form-control" ng-model="project.date"/>
                  </div>

                  <div class="advanced-settings" ng-show="AdvancedSettings">
                    <div class="row">
                      <div class="col-sm-6">
                          <p><label>Tag your collection</label></p>
                          <div class="form-group">
                            <input type="text" placeholder="Optional" class="form-control" ng-model="project.tags"/>
                            <small class="text-muted">Separate tags by comma. What type of collection is this? e.g Wedding</small>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <p><label>Auto Expiry</label></p>  
                          <div class="form-group">
                            <input type="text" date-picker placeholder="Optional" class="form-control" ng-model="project.expiry"/>
                            <small class="text-muted">Collection will become Hidden when it reaches 11:59pm on the expiry date.</small>
                          </div>
                      </div>                      
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p><label>Email Registration</label></p>
                        <label class="inpox inpox-switcher">
                          <input type="checkbox" ng-model="project.registration" >
                          <span class="inpox-label">
                            <span class="state-checked">  Yes</span>
                            <strong class="state-unchecked">No</strong>
                          </span>
                        </label>
                        <p class="small text-muted">Enable to require visitors to enter their email address to view this collection.</small>
                      </div>
                      <div class="col-sm-6">
                        <p><label>Homepage Visibility</label></p>
                        <label class="inpox inpox-switcher">
                          <input type="checkbox" ng-model="project.homepage">
                          <span class="inpox-label">
                            <span class="state-checked">  Yes</span>
                            <strong class="state-unchecked">No</strong>
                          </span>
                        </label>
                        <p class="small text-muted">Show or hide your collection in your Homepage area.</small>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <span class="text-primary" role="button" ng-hide="AdvancedSettings" ng-click="AdvancedSettings=true">Advanced Settings +</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </section>
</div>
</div>