<nav-bar help-dropdown="false"></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container dashboard-inner">
    <div class="row">
        <section class="col-sm-12">
            <div class="row item item-inline">
                <div class="col-sm-4 col-md-3">
                    <div class="item-media has-inputfile">
                        Select cover photo
                        <input type="file">
                    </div>
                </div>
                
                <div class="col-sm-8 col-md-9">
                    <p class="sm-min-pull-right">
                      <i role="button" class="icon-pencil-md m-r25"></i>
                      <i role="button" dataToggle=".collection-settings" class="icon-gear-md"></i>
                    </p>
                    <!-- collection-settings -->
                    <div class="collection-settings hidden">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Photo Collection URL</p>
                                <div class="form-group">
                                    <input type="text" ng-model="options.project_url" placeholder="http://www.example.com" class="form-control input-sm">
                                </div>
                                <hr class="sm">
                            </div>
                            <div class="col-sm-12">
                                <p>View Photos</p>
                                <label class="inpox inpox-lg inpox-cb">
                                    <input type="checkbox" checked><span class="inpox-label">Password Protected</span>
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-5 text-right"><small>Enter Password:</small></div>
                                    <div class="col-xs-7">
                                        <div class="form-group">
                                            <input type="text" ng-model="options.password" placeholder="" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-right"><small>Re-Enter Password:</small></div>
                                    <div class="col-xs-7">
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                                <hr class="sm">
                            </div>
                            <div class="col-sm-12">
                                <p>Download Photos</p>
                                <label class="inpox inpox-lg inpox-cb">
                                    <input type="checkbox"><span class="inpox-label">Password Protected</span>
                                </label>
                                <div class="row">
                                    <div class="col-xs-5 text-right"><small>PIN:</small></div>
                                    <div class="col-xs-7">
                                        <div class="form-group">
                                            <input type="password" ng-model="options.download_pin" disabled class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <hr class="sm">
                            </div>
                            <div class="col-sm-12">
                                <p>Picture Options</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox" ng-model="options.watermark"><span class="inpox-label">Enable Watermarks</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox" ng-model="options.allow_origin_photo_size"><span class="inpox-label">Allow Original Photo Size Download</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox"><span class="inpox-label">Set Expiraion Date</span>
                                        </label>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group m-l19">
                                            <input type="text" ng-model="options.expiration_date" Select Date class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <hr class="sm">
                            </div>
                            <div class="col-sm-12">
                                <p>Other Options</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox" ng-model="options.favourites"><span class="inpox-label">Enable Favourites</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox" ng-model="options.sharing"><span class="inpox-label">Enable Sharing</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inpox inpox-cb inpox-base">
                                            <input type="checkbox" ng-model="options.store"><span class="inpox-label">Enable Store</span>
                                        </label>
                                    </li>
                                </ul>
                                <div class="text-right"><a ng-click="deleteProject(project)" class="small">Delete Album</a></div>
                                <div class="text-left"><a ng-click="saveOptions(options)" class="small">Save</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- /collection-settings -->
                    
                    <h3 class="item-title" ng-click="coverLayout=false; photoLayout=false" role="button">{{project.name}}</h3>
                    <p class="item-meta caps">{{project.date | date:'d MMMM yyyy'}}</p>
                    <span class="text-primary" role="button" ng-click="changeLayout('cover')">Choose cover layout</span>
                    <p><span class="text-primary" role="button" ng-click="changeLayout('photo')">Choose photo layout</span></p>
                </div>
                

                <div class="col-sm-12">
                    <div class="text-right">
                        <div role="group" class="btn-group">
                          <a href="" class="btn btn-default">Preview</a>
                          <a href="" class="btn btn-default">Publish</a>
                        </div>
                    </div>

                    <hr>
                    
                      <div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}};">
                          {{progress}}
                        </div>
                      </div>
                    </div>
                    <div class="dropzone" ng-hide="progress" ngf-drop ngf-select ng-model="gFiles" ngf-pattern="'image/*'" ngf-multiple="true" ngf-drag-over-class="'dragover'">
                      <div class="sm-hidden">
                        <h3>Drag photos here</h3>
                        <h3>or</h3>
                      </div>
                      <p><span class="btn btn-primary">Select photots from your computer</span></p>
                      <p ngf-no-file-drop>File Drag/Drop is not supported for this browser</p>
                      <p><small>Accepts jpgs up to 500MB each</small></p>
                    </div>

                    <!-- TABSET -->
                    <div ng-hide="coverLayout || photoLayout">
                      <div class="tab-container">
                        <script type="text/ng-template" id="tab-highlights.html"> 
                          <p class="text-right">
                            <i role="button" ng-click="EditTab($index)" class="icon-pencil"></i>
                            <i role="button" ng-click="destroyTab($index)" ng-if="tabs.length > 1"  class="icon-trash"></i>
                          </p>

                        <div class="row">
                          <div class="col-sm-3" ng-repeat="f in gFiles">
                            <div class="panel panel-item is-active">
                              <div class="panel-heading">&nbsp;</div>
                              <div role="button" class="panel-body"><img ng-src="{{f.url}}" alt="alt"></div>
                              <div class="panel-footer text-right"><i role="button" class="icon-rotate"></i></div>
                            </div>
                          </div>
                        </div>

                        </script>
                        <uib-tabset>
                          <uib-tab ng-repeat="tab in tabs" id="{{tab.title}}" heading="{{tab.title}}" active="tab.active">
                            <ng-include src="tab.content"></ng-include>
                          </uib-tab>           
                          <li class="uib-tab-last" data-toggle="modal" data-target="#CreateNewTabModal" ng-disabled="!hasLimit">
                            <a href="#">+ Add New</a>
                          </li>
                        </uib-tabset>
                      </div>
                    </div>
                    <!-- /TABSET -->

                    <!-- COVER LAYOUT -->
                    <div ng-show="coverLayout==true">
                      <h3 class="m-tb30">Choose cover layout</h3>
                      <div class="row text-center">
                        <div class="col-xs-4"><img src="images/covers/1.jpg" data-target="images/covers/cover-1.png" alt="Cover 1" role="button" class="layout is-active"></div>
                        <div class="col-xs-4"><img src="images/covers/2.jpg" data-target="images/covers/cover-2.png" alt="Cover 2" role="button" class="layout"></div>
                        <div class="col-xs-4"><img src="images/covers/3.jpg" data-target="images/covers/cover-3.png" alt="Cover 3" role="button" class="layout"></div>
                      </div>
                      <div class="row m-tb30">
                        <div class="col-sm-12 p-tb30">
                          <h3 class="m-tb30">Live preview</h3>
                          <div class="text-center"><img src="images/covers/cover-1.png" alt="Cover 1" class="layout-preview"></div>
                        </div>
                      </div>
                      <div class="row m-tb30 text-right">
                        <div class="col-sm-12 m-tb30">
                          <button type="submit" class="btn btn-primary has-mw">Apply</button>
                        </div>
                      </div>
                    </div>
                    <!-- /COVER LAYOUT -->

                    <!-- PHOTO LAYOUT -->
                    <div ng-show="photoLayout==true">
                      <h3 class="m-tb30">Choose photo layout</h3>
                      <div class="row text-center">
                        <div class="col-xs-4"><img src="images/layout/1.jpg" data-target="images/layout/layout-1.png" alt="Layout 1" role="button" class="layout"></div>
                        <div class="col-xs-4"><img src="images/layout/2.jpg" data-target="images/layout/layout-2.png" alt="Layout 2" role="button" class="layout"></div>
                        <div class="col-xs-4"><img src="images/layout/3.jpg" data-target="images/layout/layout-3.png" alt="Layout 3" role="button" class="layout is-active"></div>
                      </div>
                      <div class="row m-tb30">
                        <div class="col-sm-12 p-tb30">
                          <h3 class="m-tb30">Live preview</h3>
                          <div class="text-center"><img src="images/layout/layout-3.png" alt="Layout 1" class="layout-preview"></div>
                        </div>
                      </div>
                      <div class="row m-tb30 text-right">
                        <div class="col-sm-12 m-tb30">
                          <button type="submit" class="btn btn-primary has-mw">Apply</button>
                        </div>
                      </div>
                    </div>
                    <!-- /PHOTO LAYOUT -->

                </div>


                <div id="CreateNewTabModal" tabindex="-1" role="dialog" class="modal fade">
                  <form ng-submit="CreateNewTab()" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-sm-4 form-group">
                            <label>Tab Name</label>
                          </div>
                          <div class="col-sm-8 form-group">
                            <input type="text" ng-model="field.title" ng-focus="flag=false" class="form-control"/><small ng-if="flag" class="text-danger">{{message}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                      </div>
                    </div>
                  </form>
                </div>

            </div>
        </section>
    </div>
</div>
