<nav-bar></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container" ng-init="initialize()">
    <div class="row">
        <div class="row">
            <aside class="col-sm-3" ng-include src="'includes/account-sidebar.html'"></aside>
            <section class="col-sm-9 section-content">
                <h3 class="section-heading">Edit Account</h3>
                <div class="row">
                    <form ng-submit="updateAccount(user)" role="form">
                        <div class="col-sm-12">
                            <div class="col-row">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Username</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>E-mail</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="email" class="form-control input-sm" ng-model="user.email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-row">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Studio Name</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.studio_name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Studio Logo</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!--<input type="file" class="form-control input-sm" name="logo">-->
                                            <div class="button" ngf-select ng-model="file" name="studio_logo" ngf-pattern="'image/*'"
                                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                                 ngf-resize="{width: 100, height: 100}">Select logo</div>
                                            Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
                                            <a href="" ng-click="uploadLogo()">Upload logo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-row">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Contact Person</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.contact_person">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Address</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.address">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Phone Number</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Website</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="url" class="form-control input-sm" ng-model="user.website">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-row">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Facebook</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.facebook">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Twitter</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.twitter">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Google</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.google">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="p-label"><strong>Instagram</strong></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" ng-model="user.instagram">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-offset-3 m-tb30">
                            <div class="form-group text-right">
                               <a href="/account" class="btn btn-link" ><span class="text-muted">Cancel</span></a>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
            </section>
            </div>
        </div>
    </div>
