<nav-bar></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container">
    <div class="row">
        <div class="row">
            <aside class="col-sm-3" ng-include src="'includes/account-sidebar.html'"></aside>
            <section class="col-sm-9 section-content">
                <h3 class="section-heading">Credit Card</h3>
                <div class="row">
                    <form ng-submit="editCreditCard()" role="form">
                        <div class="col-sm-12">
                            <div class="col-row">
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Full Name on Card" class="form-control input-sm" ng-model="subscription.credit_card.full_name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Address Line 1" class="form-control input-sm" ng-model="subscription.credit_card.address_line_1">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Address Line 2" class="form-control input-sm" ng-model="subscription.credit_card.address_line_2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Country" class="form-control input-sm" ng-model="subscription.credit_card.country">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="City" class="form-control input-sm" ng-model="subscription.credit_card.city">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="State/Province" class="form-control input-sm" ng-model="subscription.credit_card.state">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Zip/Postal" class="form-control input-sm" ng-model="subscription.credit_card.postal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="Card Number" class="form-control input-sm" ng-model="subscription.credit_card.card_number">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="MM" class="form-control input-sm" ng-model="subscription.credit_card.month">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="YYYY" class="form-control input-sm" ng-model="subscription.credit_card.year">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-offset-3">
                                        <input type="text" placeholder="CVV" class="form-control input-sm" ng-model="subscription.credit_card.cvv">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-offset-3 m-tb30">
                            <div class="form-group text-right">
                               <a href="/account/subscription" class="btn btn-link" ><span class="text-muted">Back</span></a>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
            </section>
            </div>
        </div>
    </div>
