<nav-bar></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container">
    <div class="row">
        <div class="row">
            <aside class="col-sm-3" ng-include src="'includes/account-sidebar.html'"></aside>
            <section class="col-sm-9 section-content">
                <h3 class="section-heading">Options</h3>
                <div class="row">
                <div class="col-sm-12">
                  <div class="col-row">
                    <div class="row row-highlight">
                      <div class="col-sm-3 col-xs-6">
                        <p class="p-label"><strong>Custom Domain</strong></p>
                      </div>
                      <div class="col-sm-9 col-xs-6"><i role="button" class="icon-pencil pull-right"></i>
                        <p>None</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-row">
                    <div class="row">
                      <div class="col-sm-3 col-xs-6">
                        <p class="p-label"><strong>Homepage Password</strong></p>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" ng-change="changeOption()" class="form-control input-sm" placeholder="Empty" ng-model="options.homepage_password">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-xs-6">
                        <p class="p-label"><strong>Watermark</strong></p>
                      </div>
                      <div class="col-sm-9 col-xs-6">
                        <p ng-if="options.watermark">
                          <img ng-src="{{options.watermark}}" alt="no-watermark">
                        </p>
                        <form name="form">
                          <div class="button" ngf-select ng-model="file" name="watermark" ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                               ngf-resize="{width: 100, height: 100}">Select watermark</div>
                          Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
                          <a href="" ng-click="uploadWatermark()">Upload watermark</a>
                      </form>
                      </div>
                    </div>
                    <div class="row push-row">
                      <div class="col-sm-4">
                        <p class="p-label"><strong>Display contact information</strong></p>
                      </div>
                      <div class="col-sm-8">
                        <label class="inpox inpox-switcher">
                          <input type="checkbox" checked ng-change="changeOption()" ng-model="options.display_contact_info"><span class="inpox-label"><span class="state-checked">  Yes</span><span class="state-unchecked">No</span></span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <p class="p-label"><strong>Social media functionality</strong></p>
                      </div>
                      <div class="col-sm-8">
                        <label class="inpox inpox-switcher">
                          <input type="checkbox" checked ng-change="changeOption()" ng-model="options.social_media_functionality"><span class="inpox-label"><span class="state-checked">  Yes</span><span class="state-unchecked">No</span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </section>
        </div>
    </div>
</div>
