<nav-bar></nav-bar> 
<bread-crumbs></bread-crumbs>

<div class="container" ng-init="initialize()">
<div class="row">
  <div class="row">
  <aside class="col-sm-3" ng-include src="'includes/account-sidebar.html'"></aside>
  
  
  <section class="col-sm-9 section-content">
    <h3 class="section-heading">Account Settings</h3>

    <div class="row">
      <div class="col-sm-12">
        <div class="col-row">
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Username</strong></p>
            </div>
            <div class="col-sm-9">
              <a href="/account/edit" class="sm-min-pull-right"><i class="icon-pencil"></i></a>
              <!-- <i role="button" class="icon-pencil sm-min-pull-right" ng-click="editMode=true"></i> -->
              <p ng-if="currentUser.name">{{currentUser.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>E-mail</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.email">{{currentUser.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-row">
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Studio Name</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.studio_name">{{currentUser.studio_name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Studio Logo</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.studio_logo">
                <img ng-src="{{currentUser.studio_logo.url}}" alt="no-logo">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-row">
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Contact Person</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.contact_person">{{currentUser.contact_person}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Address</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.address">{{currentUser.address}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Phone Number</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.phone">{{currentUser.phone}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Website</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.website">{{currentUser.website}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-row">
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Facebook</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.facebook">{{currentUser.facebook}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Twitter</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.twitter">{{currentUser.twitter}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Google</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.google">{{currentUser.google}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="p-label"><strong>Instagram</strong></p>
            </div>
            <div class="col-sm-9">
              <p ng-if="currentUser.instagram">{{currentUser.instagram}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </section>
</div>
</div>
</div>