<nav-bar></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container">
    <div class="row">
        <div class="row">
            <aside class="col-sm-3" ng-include src="'includes/account-sidebar.html'"></aside>
            <section class="col-sm-9 section-content">
                <h3 class="section-heading">Subscription</h3>
                <div class="row">
            <div class="col-sm-12">
              <div class="col-row">
                <div class="row row-highlight">
                  <div class="col-sm-3 col-xs-6">
                    <p class="p-label"><strong>Subscription Plan</strong></p>
                  </div>
                  <div class="col-sm-9 col-xs-6">
                    <select ng-change="changeSubscription()" ng-model="subscription.subscription_plan_id">
                      <option value="1">Basic</option>
                      <option value="2">Startup</option>
                      <option value="3">Company</option>
                      <option value="4">Enterprise</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <p class="p-label"><strong>Credit Card</strong></p>
                  </div>
                  <div class="col-sm-9 col-xs-6">
                    <a href="/account/subscription/edit_credit_card" class="sm-min-pull-right"><i class="icon-pencil"></i></a>
                    <p ng-if="!subscription.credit_card.card_number">None</p>
                    <p ng-if="subscription.credit_card.card_number">{{'************' + subscription.credit_card.card_number.substring(12,16)}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-row">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="p-label"><strong>Plan Details</strong></p>
                  </div>
                  <div class="col-sm-9">
                    <p>You are currently using <storage space="{{subscription.storage}}"></storage> of your available <storage space="3.00"></storage> space
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <h3 class="text-primary"><strong>Upgrade</strong></h3>
                    <p>Select plan below:</p>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="well well-plan plan-startup">
                          <div class="row">
                            <div class="col-sm-5 col-xs-12">
                              <h4>Startup</h4>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                              <h4>$19/month<span class="show">billed annually</span></h4>
                            </div>
                          </div>
                          <ul class="list-unstyled">
                            <li>5 Members</li>
                            <li>Unlimited Products</li>
                            <li>Unlimited File Uploads</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="well well-plan plan-company">
                          <div class="row">
                            <div class="col-sm-5 col-xs-12">
                              <h4>Company</h4>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                              <h4>$59/month<span class="show">billed annually</span></h4>
                            </div>
                          </div>
                          <ul class="list-unstyled">
                            <li>15 Members</li>
                            <li>Unlimited Products</li>
                            <li>Unlimited File Uploads</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="well well-plan plan-enterprise">
                          <div class="row">
                            <div class="col-sm-5 col-xs-12">
                              <h4>Enterprise</h4>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                              <h4>$149/month<span class="show">billed annually</span></h4>
                            </div>
                          </div>
                          <ul class="list-unstyled">
                            <li>25 Members</li>
                            <li>Unlimited Products</li>
                            <li>Unlimited File Uploads</li>
                            <li>24-Hour Premium Support</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </section>
        </div>
    </div>
</div>
