<div class="row">
    <div class="col-sm-6 xy-centered">
        <div class="well well-auth">
            <h3>Reset Password</h3>
            <p class="subheading">Please enter your new password and confirm it</p>
            <form name="pwdForm" ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">
                <div class="form-inner">
                    <div class="form-group">
                        <input type="password" placeholder="New Password" ng-model="changePasswordForm.password" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control">
                    </div>
                </div>
                <div class="well-footer clearfix">
                    <button type="submit" class="btn btn-primary btn-lg sm-min-pull-right">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>