<div class="row">
    <div class="col-sm-6 xy-centered">
        <div class="well well-auth">
            <h3>Reset Password</h3>
            <p class="subheading">Please enter the email address</p>
            <form name="loginForm" ng-submit="requestPasswordReset(resetForm)" role="form" ng-init="resetForm = {}">
                <div class="form-inner">
                    <div class="form-group">
                        <input type="email" placeholder="Your email" class="form-control" ng-model="resetForm.email" required="required"/>
                    </div>
                </div>
                <div class="well-footer clearfix">
                    <button type="submit" class="btn btn-primary btn-lg sm-min-pull-right">Reset</button>
                </div>
                <hr>
                <div class="text-center text-muted"><span>Don't have an account yet?</span> <a href="sign_up">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>