<div class="row">
    <div class="col-sm-6 xy-centered">
        <div class="well well-auth">
            <h3>Sign in</h3>
            <p class="subheading">Sign in with your email and password</p>
            <form name="loginForm" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" novalidate>
                <div class="form-inner">
                    <div class="form-group">
                        <input 
                            type="email"
                            ng-model="loginForm.email"
                            class="form-control" 
                            placeholder="Your email" 
                            required />
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            ng-model="loginForm.password" 
                            class="form-control" 
                            placeholder="Password" 
                            required />
                    </div>

                    <div class="alert alert-danger has-ba" ng-class="{ 'still-dirty': dirtyError }" role="alert" ng-if="errors">{{errors}}</div>

                </div>
                <div class="well-footer clearfix"><a href="reset_password" class="subheading">Reset your password</a>
                    <button type="submit" class="btn btn-primary btn-lg sm-min-pull-right">Sign in</button>
                </div>
                <hr>
                <div class="text-center text-muted"><span>Don't have an account yet?</span> <a href="sign_up">Sign up</a></div>
            </form>
        </div>
    </div>
</div>