<div class="row">
    <div class="col-sm-6 xy-centered">
        <div class="well well-auth">
            <p class="subheading text-center"><strong>Sign up for free.</strong> No credit card required.
            </p>
            <form name="signupForm" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
                <div class="form-inner">
                    <div class="form-group">
                        <input type="text" placeholder="Studio Name" class="form-control" ng-model="registrationForm.studio_name" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="E-mail" class="form-control" ng-model="registrationForm.email" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" ng-model="registrationForm.password" required="required"/>
                    </div>

                    <div class="alert alert-danger has-ba" ng-class="{ 'still-dirty': dirtyError }" role="alert" ng-if="errors">
                        <span class="show" ng-repeat="error in errors track by $index">{{error}}</span>
                    </div>

                </div>
                <div class="well-footer text-center"><span class="text-mute">By clicking below to sign up, you are agreeing to our</span>
                    <p><a href="">Terms of Service</a></p>
                    <button type="submit" class="btn btn-primary btn-lg">Get Started</button>
                </div>
                <hr>
                <div class="text-center text-muted"><span>Already a member?</span> <a href="sign_in">Sign in</a>
                </div>
            </form>
        </div>
    </div>