<nav-bar></nav-bar>
<bread-crumbs></bread-crumbs>
<div class="container">
<div class="row">
    <div class="row">
        <aside class="col-sm-3" ng-include src="'includes/store-sidebar.html'"></aside>
        <section class="col-sm-9 section-content">
            <h3 class="section-heading">My Options</h3>
            <div class="row">
            <div class="col-sm-12">
              <hr>
              <table class="table table-rows">
                <thead class="table-thead">
                  <tr>
                    <th>Date</th>
                    <th>Order</th>
                    <th>Customer</th>
                    <th>Gallery</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Date" class="has-th">04/05/2015</td>
                    <td data-th="Order" class="has-th">AB002</td>
                    <td data-th="Customer" class="has-th">Thomas Wayne</td>
                    <td data-th="Gallery" class="has-th">My Wedding</td>
                    <td data-th="Amount" class="has-th">135.54 $</td>
                    <td data-th="Status" class="has-th">In Progress</td>
                    <td>
                        <i role="button" class="icon-pencil m-r10"></i>
                        <span role="button" data-toggle="modal" data-target="#viewModal" class="text-primary">View</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="viewModal" tabindex="-1" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">Close</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <p><strong class="m-r10">Date:</strong><span>04/05/2015</span></p>
                      </div>
                      <div class="col-sm-4">
                        <p><strong class="m-r10">Gallery:</strong><span>My Wedding</span></p>
                      </div>
                      <div class="col-sm-4">
                        <p><strong class="m-r10">LAB:</strong><span>WHSS</span></p>
                      </div>
                      <div class="col-sm-4">
                        <p><strong class="m-r10">Status:</strong><span>In Progress</span></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="subheading"><strong>Bill to:</strong></p>
                        <ul class="list-unstyled">
                          <li>Thomas Wayne</li>
                          <li>200 Kent Farms</li>
                          <li>Smallville, KS, 10016</li>
                          <li>United States of America</li>
                          <li>clarkkent@dailyplanet.com</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <p class="subheading"><strong>Ship to:</strong></p>
                        <ul class="list-unstyled">
                          <li>Thomas Wayne</li>
                          <li>200 Kent Farms</li>
                          <li>Smallville, KS, 10016</li>
                          <li>United States of America</li>
                          <li>clarkkent@dailyplanet.com</li>
                        </ul>
                      </div>
                      <div class="col-sm-12">
                        <table class="table table-modal">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Picture</th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Item Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>01</td>
                              <td>mywedding.jpg</td>
                              <td>4 x 6 Print</td>
                              <td>2</td>
                              <td>12.00 $</td>
                              <td>24.00 $</td>
                            </tr>
                            <tr>
                              <td>01</td>
                              <td>mywedding.jpg</td>
                              <td>4 x 6 Print</td>
                              <td>2</td>
                              <td>12.00 $</td>
                              <td>24.00 $</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-sm-5 pull-right">
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="text-right">Subtotal:</p>
                            </div>
                            <div class="col-sm-6">
                              <p>$31.00</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="text-right">Shipping:</p>
                            </div>
                            <div class="col-sm-6">
                              <p>$7.00</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="text-right">Taxes:</p>
                            </div>
                            <div class="col-sm-6">
                              <p>$3.10</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="text-right">OrderTotal:</p>
                            </div>
                            <div class="col-sm-6">
                              <p>$42.10</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        </div>
    </div>
</div>
