.alert.has-ba {
  position: relative;
}
.alert.has-ba:before {
  content: "";
  background-color: #ebccd1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.alert.has-ba.still-dirty:before {
  -webkit-animation: warningAlert 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  -moz-animation: warningAlert 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  -o-animation: warningAlert 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  animation: warningAlert 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

@-webkit-keyframes warningAlert {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5, 2);
    -ms-transform: scale(1.5, 2);
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes warningAlert {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5, 2);
    -ms-transform: scale(1.5, 2);
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes warningAlert {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5, 2);
    -ms-transform: scale(1.5, 2);
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes warningAlert {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5, 2);
    -ms-transform: scale(1.5, 2);
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

.item-media.has-inputfile {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.item-media.has-inputfile input[type="file"] {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 body:noth(.modal-open) > .modal-backdrop.fade.in {
  display: none;
 }