.tab-container {
  position: relative;
}
.tab-container .nav.nav-tabs {
  border-bottom: 0;
  z-index: 1;
  margin-bottom: 0;
  white-space: nowrap;
  display: block;
}
.tab-container .nav.nav-tabs > li {
  position: relative;
  background-color: #e9e7e4;
  border: 1px solid #b5b4b4;
  border-right: 0;
  color: #656d78;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0;
  float: left;
  -moz-border-radius: 5px 15px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 15px 0 0;
}
.tab-container .nav.nav-tabs > li:not(.uib-tab-last) {
  width: 125px;
}
.tab-container .nav.nav-tabs > li.uib-tab-last[disabled="disabled"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.tab-container .nav.nav-tabs > li.uib-tab-last[disabled="disabled"],
.tab-container .nav.nav-tabs > li.uib-tab-last[disabled="disabled"] > a {
  cursor: default;
}
.tab-container .nav.nav-tabs > li:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -25px;
  width: 40px;
  background-color: #e9e7e4;
  z-index: 1;
  border: 1px solid #b5b4b4;
  border-left: 0;
  -moz-border-radius: 0 50px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 0 0;
}
.tab-container .nav.nav-tabs > li a {
  color: inherit;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 10px 20px 10px 30px;
  font-size: 16px;
}
.tab-container .nav.nav-tabs > li:not(:last-child) a:hover {
  color: #60b7d4;
  text-decoration: underline;
}
.tab-container .nav.nav-tabs > li.ui-sortable-placeholder {
  height: 44px;
}
.tab-container .nav.nav-tabs > li.ui-sortable-placeholder, .tab-container .nav.nav-tabs > li.ui-sortable-placeholder:after {
  background-color: #f4f2ef;
  border-color: #b5b4b4 #b5b4b4 #f4f2ef;
}
.tab-container .nav.nav-tabs.is-sorting li[data-toggle="modal"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.tab-container .nav.nav-tabs > li .static-tab {
  color: red;
}

.tab-content {
  background-color: #f4f2ef;
  border: 1px solid #b5b4b4;
  padding: 15px 30px;
}