<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="" class="navbar-brand">Umbrella</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav toupper">
                <li><a href="/store">My Store</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" ng-if="!helpDropdown">
                    <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                        <i class="icon-bulb"></i>
                    </a>
                    <ul class="dropdown-menu quick-features">
                        <li>
                            <a href="/features" class="row">
                                <span class="col-sm-12">Features
                                <small>An overview of PC's features</small>
                               </span>
                            </a>
                        </li>
                        <li>
                            <a href="/resources" class="row">
                                <span class="col-sm-8">Resources
                                <small>A collectin of top resources on how to create the best looking collections.</small></span>
                                <span class="col-sm-4 text-center"><i class="icon-bulb-lg"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="row">
                                <span class="col-sm-8">About
                                <small>Great to have you on board. Learn more about the people behind PC. Pur story, values, and plans.</small></span>
                                <span class="col-sm-4 text-center"><i class="icon-heart-lg"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="row">
                                <span class="col-sm-12">News &amp; Updates
                                <small>Rceive product love and PC's updates on Twitter and Facebook</small></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li><a href=""><i class="icon-bell"></i></a></li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                        <i class="icon-user"></i>
                    </a>
                    <ul class="dropdown-menu quick-access">
                        <li>
                            <a href="/account">Account Settings
                           <small>MySite's features</small>
                          </a>
                        </li>
                        <li>
                            <a href="/account/subscription">Subscription Settings
                           <small>MySite's features</small>
                          </a>
                        </li>
                        <li>
                            <a href="/account/options">Options
                           <small>MySite's features</small>
                          </a>
                        </li>
                        <li>
                            <a href="">My Studio Homepage
                           <small>MySite's features</small>
                          </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>