<!DOCTYPE html>
<html  ng-app="umbrella">
<head>
  <title>Umbrella</title>
  <base href="/" />
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,300,700,900' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
