<div fit-height class="sidebar-inner">
  <ul class="sidebar-nav">
    <li ng-class="{ 'is-active': activeHandler('/account') }">
     <a href="/account">Account Settings</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/account/subscription') }">
     <a href="/account/subscription">Subscription</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/account/options') }">
     <a href="/account/options">Options</a>
    </li>
  </ul>
</div>