<div fit-height class="sidebar-inner">
  <ul class="sidebar-nav">
    <li ng-class="{ 'is-active': activeHandler('/store') }">
     <a href="/store">My Orders</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/store/settings') }">
     <a href="/store/settings">Store Settings</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/store/price_lists') }">
     <a href="/store/price_lists">Price Lists</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/store/sales_tax') }">
     <a href="/store/sales_tax">Sales Tax</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/store/shipping') }">
     <a href="/store/shipping">Shipping</a>
    </li>
    <li ng-class="{ 'is-active': activeHandler('/store/coupons') }">
     <a href="/store/coupons">Coupons</a>
    </li>
  </ul>
</div>